/* * {
    border: 1px solid black;
} */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
}

#scheduled-title {
    letter-spacing: 2px;
    word-spacing: 15px;
}

.day-selector-menu {
    width: 150px;
    min-width: 50px;
    margin-left: 5px;
    font-family: 'Libre Bodoni', serif;;
}

.displayer-container {
    height: 30px;
    width: 150px;
    min-width: 150px;
    margin-left: 5px;
    font-family: 'Libre Bodoni', serif;;
    display: flex;
    justify-content: center;
    padding: 6px;
}

.form-select {
    cursor: pointer;
}

#adding-btn {
    padding: 0 26px;
    font-family: 'Libre Bodoni', serif;;
    grid-column: 4 / 5;
}

#task-adding-form {
    display: grid;
    grid-template-columns: 1fr 1fr 150px 90px;
    gap: 22px;
}

#item {
    grid-column: 1 / 3;
}

#order-select {
    grid-column: 3 / 4;
}

p,
#task-adding-form {
    font-family: 'Roboto', sans-serif;
}

.navbar,
#scheduled-title,
#done-title,
#task-adding-day-selector {
    font-family: 'Libre Bodoni', serif;;
}

#popup-toast {
    position: absolute;
    z-index: 10;
}

.check-sure,
.check-not-sure {
    min-width: 25px;
    width: 75px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    padding: 5px;
}

.check-not-sure {
    margin-left: 50px;
}

.list-check-btn,
.list-x-btn {
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    padding-top: 7px;
}

i {
    cursor: pointer;
}

.list-group-item {
    display: flex;
}

.toast-div {
    padding: 18px;
    font-size: 1.2rem;
}

@media (max-width: 991px) {
    #doneList-container {
        margin-top: 20px;
    }
    .list-group-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .list-group-item p {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .displayer-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #task-adding-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #item {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    #task-adding-day-selector {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #adding-btn {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}